<!DOCTYPE html>
<html ng-app="calendarDemoApp">
<head>
<title>Calendar Directive Challenge</title>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="./main.css" />
  
</head>

<body ng-controller="displayToday">

  <header>
    <h1>Select a date:</h1>
    <select ng-model="selectedDate.month" ng-options="month as month for month in monthsTwelve"></select>
    <select ng-model="selectedDate.year" ng-options="year as year for year in yearsThirty"></select>
  </header>

  <calendar-display>
  </calender-display>

  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./utilities/calendar-range/calendarRange.js"></script>
  <script type="text/javascript" src="./app.js"></script>

</body>
</html>