<!DOCTYPE html>
<html ng-app="calendarDemoApp">
<head>
<title>Calendar Directive Challenge</title>
<link rel="stylesheet" type="text/css" href="./main.css" />
</head>
<body ng-controller="displayToday">

<!-- your code for nav and calendar directive instance here -->

<header>
  <h1>Calendar Challenge</h1>
</header>

<select ng-model="selectMonth" ng-options="day.month for day in days"></select>

Today : {{today | date}} <br>
First Day: {{firstDay | date}} <br>
Last Day: {{lastDay | date}} <br>
Days: 
<div id="calendarTable">
    <div class="calendarDates" ng-repeat="day in days">
      {{ day.day }}
    </div>
</div>

<calendar-display>
</calender-display>

<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./utilities/calendar-range/calendarRange.js"></script>
<script type="text/javascript" src="./app.js"></script>

</body>
</html>