<!DOCTYPE html>
<html ng-app="calendarDemoApp">
<head>
<title>Calendar Directive Challenge</title>
<link rel="stylesheet" type="text/css" href="./main.css" />
</head>
<body ng-controller="displayToday">

<!-- your code for nav and calendar directive instance here -->

<header>
  <h1>Calendar Challenge</h1>
</header>

<select ng-model="selectMonth" ng-options="month as month for month in monthsTwelve"></select>
<select ng-model="selectYear" ng-options="year as year for year in yearsThirty"></select>

<br>

<calendar-display>
</calender-display>

<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./utilities/calendar-range/calendarRange.js"></script>
<script type="text/javascript" src="./app.js"></script>

</body>
</html>